<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/login.css"> 
</head>
<body>
    <div class="App">
        <div class="FormPanel">
            <h2>로그인</h2>
            <form>
                <input type="text" placeholder="사용자 이름">
                <input type="password" placeholder="비밀번호">
                <button>로그인</button>
            </form>
        </div>
        <div class="ActionPanel">
            <h2>회원 가입</h2>
            <p>계정이 없으신가요? 지금 가입하세요.</p>
            <a href="#">회원 가입</a>
        </div>
    </div>
</body>
</html>