<!--
<!DOCTYPE html>
<html>
<head>
	<title>회원가입/로그인</title>
	<link rel="stylesheet" type="text/css" href="/css/login-join.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container" id="container">
    &lt;!&ndash;회원가입 화면&ndash;&gt;
<div class="form-container sign-up-container">
    <form action="sign-php/signup.php" method="POST">
        <h1>Criminal Map 회원가입</h1>
        <input type="text" name="name" placeholder="이름">
        <input type="email" name="email" placeholder="아이디/이메일">
        <input type="password" name="password" placeholder="비밀번호">
        <input type="pwd-confirm" name="pwd-confirm" placeholder="비밀번호 재확인">
        <button type="submit">가입하기</button>
    </form>
</div>
&lt;!&ndash;로그인 화면&ndash;&gt;
<div class="form-container sign-in-container">
    <form action="sign-php/login.php" method="POST">
        <h1>Criminal Map</h1>
        <input type="email" name="email" placeholder="아이디/이메일">
        <input type="password" name="password" placeholder="비밀번호">
        <a href="#">비밀번호 찾기</a>
        <button type="submit">로그인</button>
    </form>
</div>

&lt;!&ndash;메인 화면 옆 오버레이 화면&ndash;&gt;
<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="signIn">로그인</button>
        </div>
        <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your details and start the journey with us</p>
            <button class="ghost" id="signUp">회원가입</button>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });
    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>

</body>
</html>




-->
